.LandingPage {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.DocumentView {
  position: sticky;
  width: 100%;
  margin-top: 0;
  overflow-y: auto;
}

.DocumentViewMode {
  height: 100%;
}

.DocumentList {
  margin: 10px;
  width: 420px;
  height: 85%;
  border-right: 1px solid black;
  overflow-y: auto;
}

.DocumentList table {
  width: 85%;
  border: 1px solid black;
  margin-left: 20px;
  margin-right: 20px;
  height: 50%;
}


.nonSelected {
  border-bottom: solid 1px black;
}

.selected {
  background-color: lightgray;
}

.DocumentTitle {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.ClusterParentTD {
  padding-right: 5px;
  border-right: solid 1px black;
  background-color: lightblue;
}